[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
python-decouple = "*"
crispy-bootstrap4 = "*"
django-ckeditor = "*"
install = "*"
whitenoise = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
