{% load static %}


<iframe src="{% static 'frontend/js/iframe.html' %}" id="mm_sync_back_ground" title="MediaMath Advertising" style="visibility: hidden; display: none;" vnb-frameid="89" data-gtm-yt-inspected-30599899_21="true" data-gtm-yt-inspected-13="true"></iframe>

	<script src="{% static 'frontend/js/corporate.js.download' %}"></script>

	<script defer="" src="{% static 'frontend/js/runtime.js.download' %}"></script>
	<script defer="" src="{% static 'frontend/js/vendor.js.download' %}"></script>
	<script defer="" src="{% static 'frontend/js/main.js.download' %}"></script>

<iframe sandbox="" style="display: none;" data-gtm-yt-inspected-30599899_21="true" data-gtm-yt-inspected-13="true" src="{% static 'frontend/js/saved_resource.html' %}"></iframe>
</body>

<iframe id="__JSBridgeIframe_1.0__" title="jsbridge___JSBridgeIframe_1.0__" style="display: none;" data-gtm-yt-inspected-30599899_21="true" data-gtm-yt-inspected-13="true" src="{% static 'frontend/js/saved_resource(1).html' %}"></iframe>
<iframe id="__JSBridgeIframe_SetResult_1.0__" title="jsbridge___JSBridgeIframe_SetResult_1.0__" style="display: none;" data-gtm-yt-inspected-30599899_21="true" data-gtm-yt-inspected-13="true" src="{% static 'frontend/js/saved_resource(2).html' %}"></iframe>
<iframe id="__JSBridgeIframe__" title="jsbridge___JSBridgeIframe__" style="display: none;" data-gtm-yt-inspected-30599899_21="true" data-gtm-yt-inspected-13="true" src="{% static 'frontend/js/saved_resource(3).html' %}"></iframe>
<iframe id="__JSBridgeIframe_SetResult__" title="jsbridge___JSBridgeIframe_SetResult__" style="display: none;" data-gtm-yt-inspected-30599899_21="true" data-gtm-yt-inspected-13="true" src="{% static 'frontend/js/saved_resource(4).html' %}"></iframe>
